resources/templates/Storm_NiFi_Phoenix.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Integrating NiFi with Storm and Phoenix</description>
  <groupId>99e15bee-0159-1000-2913-a236bf43fa16</groupId>
  <name>Storm+NiFi+Phoenix</name>
  <snippet>
    <connections>
      <id>9d72da1f-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d72a395-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d6db51c-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>9d7436a9-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d7411cf-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>sql</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d72a395-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aa0b5fc4-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>aa0b33be-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>0639d4ca-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aa0cdac7-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d6db51c-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>DEBUG</selectedRelationships>
      <selectedRelationships>ERROR</selectedRelationships>
      <selectedRelationships>INFO</selectedRelationships>
      <selectedRelationships>WARN</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>aa0b33be-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01591018-a97c-1639-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d74a099-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>9d7411cf-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>063a95c3-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>0639e687-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>0639a97c-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>063ad232-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>0639d4ca-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>0639e687-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0672bb51-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>067289fd-0159-1000-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>99e15bee-0159-1000-0000-000000000000</groupId>
        <id>0639d4ca-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>9d62145c-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
      </descriptors>
      <name>Phoenix-Storm</name>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:phoenix:sandbox.hortonworks.com:2181:/hbase-unsecure</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>org.apache.phoenix.jdbc.PhoenixDriver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>/usr/hdp/current/phoenix-client/phoenix-client.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <outputPorts>
      <id>067289fd-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1201.898411339962</x>
        <y>249.76533205634883</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>OUT</name>
      <state>STOPPED</state>
      <transmitting>false</transmitting>
      <type>OUTPUT_PORT</type>
    </outputPorts>
    <processors>
      <id>9d6db51c-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>592.194358659302</x>
        <y>209.96910465136034</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
            <value>uuid,EVENT_DATE,BULLETIN_LEVEL,EVENT_TYPE,CONTENT</value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributesToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>9d72a395-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>16.912926271229253</x>
        <y>415.1407301261379</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>
              <name>Statement Type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Catalog Name</key>
            <value>
              <name>Catalog Name</name>
            </value>
          </entry>
          <entry>
            <key>Schema Name</key>
            <value>
              <name>Schema Name</name>
            </value>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>
              <name>Translate Field Names</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>
              <name>Unmatched Field Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>
              <name>Unmatched Column Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Update Keys</key>
            <value>
              <name>Update Keys</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>9d62145c-0159-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>INSERT</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>NIFI_DIRECT</value>
          </entry>
          <entry>
            <key>Catalog Name</key>
          </entry>
          <entry>
            <key>Schema Name</key>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>Ignore Unmatched Fields</value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>Fail on Unmatched Columns</value>
          </entry>
          <entry>
            <key>Update Keys</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertJSONToSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>sql</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
    </processors>
    <processors>
      <id>9d7411cf-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>598.9129344251924</x>
        <y>418.40405849316653</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>INSERT</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>UPSERT</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>9d74a099-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1165.27660141647</x>
        <y>408.488428937701</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>
              <name>Support Fragmented Transactions</name>
            </value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
            <value>
              <name>Transaction Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>
              <name>Obtain Generated Keys</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>9d62145c-0159-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutSQL</type>
    </processors>
    <processors>
      <id>aa0b33be-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>206.95123481750488</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>DEBUG</key>
            <value>
              <name>DEBUG</name>
            </value>
          </entry>
          <entry>
            <key>ERROR</key>
            <value>
              <name>ERROR</name>
            </value>
          </entry>
          <entry>
            <key>INFO</key>
            <value>
              <name>INFO</name>
            </value>
          </entry>
          <entry>
            <key>WARN</key>
            <value>
              <name>WARN</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>DEBUG</key>
            <value>${BULLETIN_LEVEL:equals('DEBUG')}</value>
          </entry>
          <entry>
            <key>ERROR</key>
            <value>${BULLETIN_LEVEL:equals('ERROR')}</value>
          </entry>
          <entry>
            <key>INFO</key>
            <value>${BULLETIN_LEVEL:equals('INFO')}</value>
          </entry>
          <entry>
            <key>WARN</key>
            <value>${BULLETIN_LEVEL:equals('WARN')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>DEBUG</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>ERROR</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>INFO</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>WARN</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>0639a97c-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.39996337890625</x>
        <y>6.351203918457031</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File to Tail</key>
            <value>
              <name>File to Tail</name>
            </value>
          </entry>
          <entry>
            <key>Rolling Filename Pattern</key>
            <value>
              <name>Rolling Filename Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Initial Start Position</key>
            <value>
              <name>Initial Start Position</name>
            </value>
          </entry>
          <entry>
            <key>File Location</key>
            <value>
              <name>File Location</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Tail</key>
            <value>/opt/HDF-2.0.1.0/nifi/logs/nifi-app.log</value>
          </entry>
          <entry>
            <key>Rolling Filename Pattern</key>
          </entry>
          <entry>
            <key>Initial Start Position</key>
            <value>Beginning of File</value>
          </entry>
          <entry>
            <key>File Location</key>
            <value>Remote</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>CaptureLog</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.TailFile</type>
    </processors>
    <processors>
      <id>0639d4ca-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1149.3999938964844</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>
              <name>Maximum Capture Group Length</name>
            </value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>
              <name>Enable Canonical Equivalence</name>
            </value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>
              <name>Enable Case-insensitive Matching</name>
            </value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>
              <name>Permit Whitespace and Comments in Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>
              <name>Enable DOTALL Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>
              <name>Enable Literal Parsing of the Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>
              <name>Enable Multiline Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>
              <name>Enable Unicode-aware Case Folding</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>
              <name>Enable Unicode Predefined Character Classes</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>
              <name>Enable Unix Lines Mode</name>
            </value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>
              <name>Include Capture Group 0</name>
            </value>
          </entry>
          <entry>
            <key>BULLETIN_LEVEL</key>
            <value>
              <name>BULLETIN_LEVEL</name>
            </value>
          </entry>
          <entry>
            <key>CONTENT</key>
            <value>
              <name>CONTENT</name>
            </value>
          </entry>
          <entry>
            <key>EVENT_DATE</key>
            <value>
              <name>EVENT_DATE</name>
            </value>
          </entry>
          <entry>
            <key>EVENT_TYPE</key>
            <value>
              <name>EVENT_TYPE</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>1024</value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>true</value>
          </entry>
          <entry>
            <key>BULLETIN_LEVEL</key>
            <value>([A-Z]{4,5})</value>
          </entry>
          <entry>
            <key>CONTENT</key>
            <value>(^.*)</value>
          </entry>
          <entry>
            <key>EVENT_DATE</key>
            <value>([^,]*)</value>
          </entry>
          <entry>
            <key>EVENT_TYPE</key>
            <value>(?&lt;=\[)(.*?)(?=\])</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Extract-Log-Fields</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractText</type>
    </processors>
    <processors>
      <id>0639e687-0159-1000-0000-000000000000</id>
      <parentGroupId>99e15bee-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>586.5373229980469</x>
        <y>4.136201858520508</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Split-Log</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
  </snippet>
  <timestamp>01/17/2017 02:31:14 UTC</timestamp>
</template>